.default-sec {
    min-height: calc(100vh - 105px);
}


@media (max-width: 992px) {
    .default-sec {
        min-height: calc(100vh - 125px);
    }
}

@media (max-width: 475px) {
    .default-sec {
        min-height: calc(100vh - 165px);
    }
}