:root {
  --white: #ffffff;
  --black: #000000;
  --font-family: "Gilroy-Medium", sans-serif;
  --heading-color: #ffffff;
  --section-padding: clamp(100px, 7vw, 165px) 0 clamp(45px, 7vw, 80px);

  --gray-light: #B6BAC0;
  --gray-light-1: #BCBCBC;
}
